@import url('https://fonts.googleapis.com/css?family=Lato|Raleway|Roboto|Source+Sans+Pro');



nav {display: flex;
width: 100vw;
position: fixed;
    margin-top: 0;
background-color: lightgreen;
padding-right: 10%;
z-index: 11;}


nav ul {display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: flex-end;
list-style: none;
flex-wrap: wrap;
margin: 20px;
margin-right: 30px;}


nav ul li {margin-left: 35px;
font-family: lato;
color: olivedrab;
    font-weight: 600;
}


h1 {margin-left: 20px;
    margin-top: 10px;
font-family: raleway;
color: white}
header {height: 100vh;}


header img {  margin-top: 25vh;
    height: auto;
}


.grid-container {display: grid;
grid-template-columns: 20% 20% 20% 20%;
grid-template-rows: 390px;
grid-gap: 50px;
justify-content: center;
width: vw}

.carambañero h2 {font-family: raleway;
margin: auto;
text-align: center;}

.description {margin: 0 10% 0% 10%;
    background-color: rgba(250, 250,250, .3);
color: rgba(34,140,34, .7);
font-weight: 450;
padding-bottom: 10px;}

.description h2 {font-weight: 550;
    padding: 5px;
margin-bottom: 20px;
background-color:forestgreen;
color: white;}
.description p {text-align: center;
line-height: 40px;}

.patron {width: 60%;
    height: 200px;
    max-width: 250px;
max-height: 250px;
border-radius: 5px;
margin-left: 20%;
margin-top: 10px;
border: 2px rgba(173,255,47, .1) solid}

.patron:hover {opacity: 0.9}


.work {background-color: rgba(0, 50, 0, .4);
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-radius: 5px;
margin-top: 100px;
min-width: 200px;}


.work-title {color: darkgreen;
    text-align: center;
background-color: white;
    opacity: .5;
    margin-top: 30px;
    height: 20%;
border-radius: 0px 0px 5px 5px;
border: 1px green solid;
font-family: lato;
    font-size: 25px;
padding-top: 12px;}

.contact {width: 70vw;
    background-color: rgba(250, 250, 250, .9);
height: auto;
margin: auto;
margin-top: 200px;
border-radius: 5px 5px 5px 5px;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2em; 
    padding-bottom: 2em;
}
.Labels {display: inline-block;
width: 50px;
text-align: center;}
.Format {margin: 50px;
    margin-left: 0;
    margin-right: 0;
font-family: lato;}
.Format input {
width: 90%;
    height: 30px;
    max-width: 400p;
    padding-left: 7px;
    border-radius: 3px;
    border: 1px gray solid;
    margin-left: 15p;
}

.secondFormat {display: flex;
flex-direction: column;
width: 100%;
    height: 130px;
font-family: lato;
}
.contact h2 {color: rgba(0, 0, 0, .9)}
.secondFormat textarea {height: 500px;
padding-left: 7px}

.contact button {margin-top: 40px;
font-family: roboto;
margin-left: 40%;
width: 100px;
height: 40px;
    background-color: rgb(241,241,241);
    border: 1px green solid;
border-radius: 5px;
 -webkit-transition-duration: 0.4s;}

.contact button:hover {border: 1px lightblue solid;
background-color: green;
color: white;}

.contact-info h2 {font-family: raleway;
font-size: 25px;}
ul {list-style: none;}
.contact-info ul {display: flex;
    justify-content: flex-end;
margin: 10px;
    width: 80%;
margin-bottom: px}
.contact-info ul li {margin-left: 10px;}

.contact-info h3 {font-family: roboto;
justify-content: flex-start;}

.flex-contact {display:flex;
    flex-direction: row;
width:100%;
    justify-content: flex-end;
margin-top: 1.5em;}
a:hover {text-decoration: none;}



footer {background-color: white;
    margin-top: 30vh;
}